button.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align-last: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
button.accordion.active,
button.accordion:hover{
    background-color: #ddd;
}
div.panel{
    padding: 18px 18px;
    background-color: white;
    display: none;
}
div.panel.show{
    display: block;
}